body {
    background-color: #bdc0c7;

}
body > main {
    justify-content: center;

}
.container{
	display:flex;
	width:100%;
	justify-content: center;
	background-size:cover;
}
.content{
	max-width:760px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0 1rem;
}
