
.container{
	background-size:  cover;
	background-position: center;
	text-align: center;
}

.content{

	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	color: orange;



}
.content .titre {
	display: inline-block;
}

div .username,
div .email,
div .password {

	background: linear-gradient(#333, grey);
	border-radius: 10px;
	padding: 1px;
	margin-bottom: 5px;
}
@media (min-width: 768px) {

	.container {
		width: 100%;
	}

	.content {
margin: 0 auto;
width: 50%;
	}

	div .username,
	div .email,
	div .password {

	}

}
