.gestionuser {
    position: relative;

}

.titre {
    text-align: center;
}
.listuser {
    text-align: center;
}

.listuser th {  
    text-align: center;
}

.listuser table {
    position: absolute;
    width: 90%;
    border: solid black 3px ;
    border-radius: 5px;
    text-align: center;
    left: 5%;

}
