@import url(http://fonts.googleapis.com/css?family=Raleway|Bangers);
@import url(normalize.css);
@import url(font-awesome.min.css);

/* ---------------------------------------------
RESET
--------------------------------------------- */

*, *:before, *:after { box-sizing: border-box; }
h1,h2,h3,h4,h5,h6,ul,ol { margin: 0; padding: 0; }
li { list-style: none; }
figure { margin: 0; }

/* ---------------------------------------------
COMMONS
--------------------------------------------- */
html{
  font-size: 100%
}

body{
  background: white ;
  font: .9em Verdana, sans-serif;
}

a{
  text-decoration: none;
}

.group:after{
  content: '';
  clear: both;
  display: table;
}

.block-zone > .inner,
.block-nav > .inner,
.block-center > .inner{
  width: 1170px;
  margin: 0 auto;
}

/* ---------------------------------------------
TREE VIEW
--------------------------------------------- */
.tree-list{
  float: left;
  width: 70%;
}

.tree-add{
  float: right;
  width: 30%;
}

/* ---------------------------------------------
TREE LIST
--------------------------------------------- */

table {
  text-align: center;
  color:#ffb308;
  border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    padding: 10px;
}

th{
  color:#ff03a4;
}

td{
  width: 150px;
}

td:first-child{
  width: 50px;
}

td:last-child,
td:nth-last-child(2){
  width: 100px;
}

/* ---------------------------------------------
TREE ADD
--------------------------------------------- */
label{
  display: block;
	width: 150px;
	float: left;
}

.tree-form-name{
  margin: 10px 0;
}

/* ---------------------------------------------
TREE UPDATE
--------*/
