@import url(http://fonts.googleapis.com/css?family=Raleway|Bangers);
@import url(normalize.css);
@import url(font-awesome.min.css);

/* ---------------------------------------------
RESET
--------------------------------------------- */

*, *:before, *:after { box-sizing: border-box; }
h1,h2,h3,h4,h5,h6,ul,ol { margin: 0; padding: 0; }
li { list-style: none; }
figure { margin: 0; }

/* ---------------------------------------------
COMMONS
--------------------------------------------- */
html{
  font-size: 100%
}

body{
  background: white ;
  font: .9em Verdana, sans-serif;
}

a{
  text-decoration: none;
}
/*
.group:after{
  content: '';
  clear: both;
  display: table;
}

.block-zone > .inner,
.block-nav > .inner,
.block-center > .inner{
  width: 1170px;
  margin: 0 auto;
}*/

body{
  background: url(../../../../images/view/fond-tree.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.background-opacity{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0;
}

/* ---------------------------------------------
TREE index
--------------------------------------------- */
main{

}

.tree-add{
margin: 325px 5px 20px;
}

.tree-list{
 margin: 20px 5px 400px;
}

/* ---------------------------------------------
TREE LIST
--------------------------------------------- */
th{
  color:#ff03a4;
}

table {
  text-align: center;
  color:#ffb308;
  border-collapse: collapse;

}

table, th, td {
    border: 2px solid black;
    padding: 10px;
    font-size: 90%;
}

td{
  width: 200px;
}

th:first-child,
td:first-child{
  display: none;
}


/* ---------------------------------------------
TREE ADD
--------------------------------------------- */
label{
  display: block;
	width: 100px;
	float: left;
}

.tree-form-name{
  margin: 10px 0;
}

/* ---------------------------------------------
TREE UPDATE
--------------------------------------------- */




/* ---------------------------------------------
TREE index
Tablet
--------------------------------------------- */
@media (min-width: 768px){
  main{

  }

  .tree-list,
  .tree-add{
    margin: 5px auto;
  }

  .tree-list{
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 68%;
  }

  .tree-add{
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    width: 28%;
  }

  table, th, td {
    font-size: 100%;
  }

  td:first-child{
    /*width: 50px;*/
    display: none;
  }

  td:last-child,
  td:nth-last-child(2),
  td:nth-last-child(3){
    /*width: 70px;*/
  }

}
