{% extends 'base.html.twig' %}

{% block body %}
    coucou
   {# <table>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Image</th>
        </tr>
        <tr>
            {% for people in peoples %}
                <td>{{ people.firstname }}</td>
                <td>{{ people.lastname }}</td>
                <td>{{ people.image }}</td>
            {% endfor %}
        </tr>
    </table>#}
{% endblock %}