
/* NAVIGATION */
nav {
    color: grey;
}

nav ul a {
    color: grey;
}

/* MENU */

.arbres {
    position: relative;
}

.arbres ul {
    list-style-type:none;
    text-align:center;
    position: absolute;
    right: 4px;
    top: 40px;
    visibility: hidden;
}

.arbres:hover ul {
    visibility: visible;
}

/* PROFIL */
.navbar-right {
    position: relative;
}
.profil {
    position: absolute;
    left: 115px;
    bottom: 15px;
}
.profil ul  {
    visibility: hidden;
    list-style-type:none;
}
.profil:hover ul {
    visibility: visible;
}
