@import url(http://fonts.googleapis.com/css?family=Raleway|Bangers);

/* ---------------------------------------------
RESET
--------------------------------------------- */

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

figure {
    margin: 0;
}

/* ---------------------------------------------
                    COMMONS
--------------------------------------------- */
html {
    font-size: 100%
}

body {
    background: white;
}

a {
    text-decoration: none;
}

.group:after {
    content: '';
    clear: both;
    display: table;
}

.block-zone > .inner,
.block-nav > .inner,
.block-center > .inner {
    width: 1170px;
    margin: 0 auto;
}

/* ---------------------------------------------
                  PEOPLE ADD
--------------------------------------------- */

/* ---------------------------------------------
                  PEOPLE LIST
--------------------------------------------- */
.container-show {
    background-color: rgba(222, 222, 222, 0.31);
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}

@media screen and  (max-width: 530px) {
    .col-xs-6 {
        width: 50%!important;
    }
    .col-xxs-12 {
        width: 100%!important;
    }
}

@media screen and (min-width: 530px) and (max-width: 767px) {
    .col-xs-6 {
        width: 50%!important;
    }
    .col-xxs-12 {
        width: 50%!important;
    }
}

.container-show .firstname {
    text-transform: uppercase;
}

.people-list .container-show img {
    width: 100%;
}

.person-picture {
    min-width: 100%;
    height: 300px;
    background-size: cover;
    display: block;
    background-position: 50% 50%;
}

.container-show .person-data {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(205, 65, 239);
}

.container-show .actions {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 15px;
}

.container-show .actions button {
    display: inline-block;
}

.container-show .person-picture {
    border-radius: 18%;
}

.people-form-image label {
    text-transform: capitalize;
    margin-top: 10px;
}

.people_form[create] {
    width: 10%;
}

button[type="submit"] {
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #999;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    display: block;
    margin: 25px 0;
}

button[type="submit"]:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

button[type="submit"]:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
    border-color: #000 \9;
}

input#people_form_imageFile_file {
    overflow: hidden;
    display: block;
    width: 100%;
}

