{% extends 'DLFamilytreeBundle::base.html.twig' %}

{% block title %}Liste Relation{% endblock %}
{% block body %}
<h1>
Liste Relation
</h1>

<table>
    <thead>
        <tr>
            <th>Première Personne</th>
            <th>Type</th>
            <th>Deuxième Personne</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in relations %}
            <tr>
                <td>{{ relation.peopleA.label }}</td>
                <td>{{ relation.relationship.name }}</td>
                <td>{{ relation.peopleB.label }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}