{% extends 'DLFamilytreeBundle::base.html.twig' %}

{% block body %}

    {% block nav %}

        {{ parent() }}

    {% endblock %}

    <div>
        <p>Voulez vous vraiment supprimer l'utilisateur < {{ user.username }} > </p>
    </div> 

    {{ form_start(form) }}

    {{ form_end(form) }}
    
{% endblock %}