{% extends 'base.html.twig' %}

{% block body %}

    {% block nav %}

        {{ parent() }}

    {% endblock %}

    <h1>Page de gestion des utilisateurs inscrit </h1>

    <table style='border: solid black 1px'>
        <thead>
            <tr>
                <th>Nom Utilisateur</th>
                <th>Adresse E-mail</th>

            </tr>
        </thead>
        <tbody>
            {% for user in listUser %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="{{path('del_user', {'id': user.id})}}">Supprimer</a></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>



{% endblock %}