*, *:before, *:after {
    box-sizing: border-box;
}

html, body{
	height:100%;
	width:100%;
}
body{
	margin:0;
	padding:0;
	font-family:FuturaHvBt,"Trebuchet MS",Arial,sans-serif
}
/* HEADER */
body > header{
	width:100%;
	background:#222;
	color:#FCFAEC;
	display:flex;
	z-index:2;
	flex-wrap:wrap;
}

body > header ul {
	margin:0;
	padding:0;
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
body > header li {
	list-style-type:none;
	display:flex;
	width:100%;
}
body > header a {
	text-decoration:none;
	display:flex;
	width:100%;
	justify-content:center;
	color:#FCFAEC;
	background: grey;
	background: linear-gradient(#333, grey);
	margin:5px;
	padding: 5px;
	border-radius:5px;
}
/* HEADER LOGO */
.logo{
	padding:0;
	margin: 0 20px;
	display:flex;
	justify-content: center;
	width:100%;
}
.logo a{
	background-size:contain;
	background-position:center;
	background-repeat: no-repeat;
	height:100px;
}

/* HEADER NAV */
.main-menu{
	width:100%;
}

/* HEADER USER */
.user-menu{
	width:100%
}
.user-menu .user-option span{
	display:none;
}

/* MAIN */
body > main{
	display:flex;
	flex-direction: column;
	z-index:1;
}

@media (min-width: 768px){
	body > header{
		flex-direction: row;
	}
	body > header ul,
	body > header li,
	body > header a,
	.main-menu,
	.user-menu,
	.logo
	{
		width:auto
	}
	
	.logo a{
		height:80px;
		width:80px;
	}
	.main-menu{
		align-items:center;
		flex:1;
		
	}
	.user-menu > ul {
		flex-direction: column;
	}
	body > main{
		flex-direction: row;
		flex:1;
		min-height:100%;
	}
	.list-people{
		max-height:100%;
	}
}

