*, *:before, *:after {
    box-sizing: border-box;
}

html, body{
	height:100%;
	width:100%;
}
body{
	margin:0;
	padding:0;
	font-family:FuturaHvBt,"Trebuchet MS",Arial,sans-serif
}
.main-container{
	min-height:100%;
	display:flex;
	flex-direction: column;
}
	
/* HEADER */
.main-container > header{
	width:100%;
	background:#222;
	color:#FCFAEC;
	display:flex;
	flex-wrap:wrap;
}

.main-container > header ul
{
	margin:0;
	padding:0;
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
.main-container > header li
{
	list-style-type:none;
	display:flex;
	width:100%;
	justify-content:center;
}
.main-container > header a:not(.logo)
{
	text-decoration:none;
	display:flex;
	width:100%;
	justify-content:center;
	color:#FCFAEC;
	background: grey;
	background: linear-gradient(#333, grey);
	margin:5px;
	padding: 5px;
	border-radius:5px;
}
/* HEADER LOGO */
.logo-container{
	padding:0;
	margin: 0 20px;
	display:flex;
	justify-content: center;
	width:100%;
	height:100px;
}
.logo{
	display:flex;
	background-size:contain;
	background-position:center;
	background-repeat: no-repeat;
	flex:1;
}

/* HEADER NAV */
.main-menu{
	width:100%;
}

/* HEADER USER */
.user-menu{
	width:100%
}
.user-menu span{
	margin-right:5px;
}

/* MESSAGE */
.message{
	display:flex;
	flex-direction: row;
}
	
/* MAIN */
.main-container > main{
	position:relative;
	display:flex;
	flex-direction: column;
	flex:1;
}

@media (min-width: 768px){
	.main-container > header{
		flex-direction: row;
	}
	.main-container > header ul,
	.main-container > header li,
	.main-container > header a,
	.main-menu,
	.user-menu
	{
		width:auto
	}
	.logo-container{
		width:80px;
		height:80px;
	}
	.main-menu{
		align-items:center;
		flex:1;
		
	}
	.user-menu > ul {
		flex-direction: column;
	}
	.main-container > main{
		flex-direction: row;
	}

}
/* FOOTER */
.main-container > footer{
	background:#222;
	color:#FCFAEC;
	padding:10px;
	text-align:center;
}